// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add-success {
  margin: 0 0 10px 18px;
  font-size: 15px;
  font-weight: bold;
  color: #32cd32;
}

.destroy-success {
  margin: 0 0 10px 18px;
  font-size: 15px;
  font-weight: bold;
  color: red;
}