// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-title {
  margin:30px;
  display:block;
  text-align:center;
  font-size:80px;
}

.about-text {
  margin: 30px;
  font-size: 25px;
}

