<div class= "container">
  <div class = "row">
    <div class = "col-sm-10 px-sm-0 mx-auto">
     <h2>会員一覧</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="table-active">会員ID</th>
            <th class="table-active">氏名</th>
            <th class="table-active">メールアドレス</th>
            <th class="table-active">ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.last_name customer.first_name, admin_customer_path(customer.id) %></td>
              <td><%= customer.email %></td>
              <td>
                <% if @customer.is_active %>
                  有効
                <% else %>
                  退会
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<%= paginate @customers %>