<div class="row m-4">
  <div class="col-auto offset-2">
    <h4 class="px-4" style="background-color:#ECECEC;">ジャンル編集</h4>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2">
      <h6><strong>ジャンル名</strong></h6>
    </div>
    <div class="col-10">
      <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
        <%= f.text_field :name, autofocus: true %>　　　
        <%= f.submit '　変更を保存　'.html_safe, class: "btn btn-success", style: "font-weight: bold" %>
      <% end %>
      <br>
      <br>
    </div>
  </div>
</div>